{% load static %}
<!-- jQuery -->
<script src="{% static '/vendor/jquery.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static '/vendor/popper.min.js' %}"></script>
<script src="{% static '/vendor/bootstrap.min.js' %}"></script>

<!-- Perfect Scrollbar -->
<script src="{% static '/vendor/perfect-scrollbar.min.js' %}"></script>

<!-- DOM Factory -->
<script src="{% static '/vendor/dom-factory.js' %}"></script>

<!-- MDK -->
<script src="{% static '/vendor/material-design-kit.js' %}"></script>

<!-- Range Slider -->
<script src="{% static '/vendor/ion.rangeSlider.min.js' %}"></script>
<script src="{% static '/js/ion-rangeslider.js' %}"></script>

<!-- App -->
<script src="{% static '/js/toggle-check-all.js' %}"></script>
<script src="{% static '/js/check-selected-row.js' %}"></script>
<script src="{% static '/js/dropdown.js' %}"></script>
<script src="{% static '/js/sidebar-mini.js' %}"></script>
<script src="{% static '/js/app.js' %}"></script>

<!-- App Settings (safe to remove) -->
<script src="{% static '/js/app-settings.js' %}"></script>