{% extends 'User_Management/account_main.html' %}
{% block content %}
    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">


        <div class="container-fluid page__container page__heading d-flex align-items-center border-bottom  ">
            <h1 class="mb-0">Settings</h1>
        </div>



    </div>
    <!-- // END header-layout__content -->

    <!-- App Settings FAB -->
    <div id="app-settings">
        <app-settings layout-active="default" :layout-location="{
      'default': 'author-settings.html',
      'fixed': 'fixed-author-settings.html',
      'fluid': 'fluid-author-settings.html',
      'mini': 'mini-author-settings.html'
    }"></app-settings>
    </div>

{% endblock content %}
