{% extends 'User_Management/main_1.html' %}
{% block content %}
        <title>Password Reset | HireBeat</title>
    </head>
    <body class="layout-login-centered-boxed">


      <div class="layout-login-centered-boxed__form">
          <div class="d-flex flex-column justify-content-center align-items-center mt-2 mb-4 navbar-light">
              <a href="index.html" class="navbar-brand text-center mb-2 mr-0 flex-column" style="min-width: 0">
                  <!-- LOGO -->
                  <img id="icon" src="https://hirebeat-assets.s3.amazonaws.com/HireBeatLogo2.png" alt="HireBeat Logo"/> </img>
 
                  <span class="mt-2">Please enter your new password.</span>
              </a>
          </div>
          <div class="card card-body">
            <div style="margin: auto; width: 79.5%; font-family: Arial, Helvetica, sans-serif;">
              
              
                <form method="post">
                  {% csrf_token %}
                    
                    <div class="form-group">
                      <label for="{{ form.new_password1.id_for_label }}" class="text-label" id="password1_label">Password:</label>
                      <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                              <div class="input-group-text">
                                  <span class="material-icons prefix">lock_outline</span>
                              </div>
                              {{ form.new_password1 }}
                          </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="{{ form.new_password2.id_for_label }}" class="text-label" id="password2_label">New Password Confirmation:</label>
                      <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons prefix">lock_outline</span>
                        </div>
                        {{form.new_password2}}
                      </div>
                    </div>
                    <div class="form-group">
                      <br>
                      <div class="form-group text-center">
                        <p style="margin: auto; width: 100%; font-family: Arial, Helvetica, sans-serif;">Your password can’t be too similar to your other personal information.<br>
                        Your Password must contain at least 8 characters.<br>
                        Your password can’t be a commonly used password.<br>
                        Your password can’t be entirely numeric.</p>
                      <div>
                      <br>
                    <div>
                 
                  <div class="form-group text-center">
                    <button class="btn btn-primary mb-2" type="submit">Update Password</button><br>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}