{% extends 'User_Management/main.html' %}
{% block content %}
<div style="margin: auto; width: 60%; font-family: Arial, Helvetica, sans-serif;">
    <h5 class="header">Password reset sent</h5>
    <div class="col s12 z-depth-6 card-panel">
        <div class="card-content left-align">
            <p>We’ve emailed you instructions for setting your password, if an account exists
                with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you
                registered with, and check your spam folder.</p>
        </div>
    </div>
</div>

{% endblock content %}