{% extends 'User_Management/main_1.html' %}
{% block content %}
        <title>Password Reset Done! | HireBeat</title>
    </head>
    <body class="layout-login-centered-boxed">
        <div class="layout-login-centered-boxed__form">
            <div class="d-flex flex-column justify-content-center align-items-center mt-2 mb-4 navbar-light">
                <a href="index.html" class="navbar-brand text-center mb-2 mr-0 flex-column" style="min-width: 0">
                    <!-- LOGO -->
                    <img id="icon" src="https://hirebeat-assets.s3.amazonaws.com/HireBeatLogo2.png" alt="HireBeat Logo"/> </img>

                    <span class="mt-2">Password reset complete.</span>
                </a>
            </div>
            <div class="card card-body">
                <div style="margin: auto; font-family: Arial, Helvetica, sans-serif;">
                    <div class="form-group text-center"><br><br>
                        <div class="icontext">Your password has been reset.</div>
                        <br>
                        <div class="icontext">Click here to Login</div><br><br>
                        <a class="btn btn-primary mb-2" href="{% url 'login'%}">Log in</a><br><br>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}