{% extends 'User_Management/main.html' %}
{% load static %}
{% block content %}
    <head>
        <title>Password Reset | HireBeat</title>
    </head>
    <h5 class="header">Enter new password</h5>
    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
    <div class="col s12 z-depth-6 card-panel">
        <div style="margin: auto; font-family: Arial, Helvetica, sans-serif;">
        <h5 style="margin-bottom: 2rem;">
          Please enter your new password.
        </h5>
    <form method="post">
      {% csrf_token %}
        <div class="input-field col s12"
             style="vertical-align: middle;">
            <i class="material-icons prefix">lock_outline</i>
            <label for="{{ form.new_password1.id_for_label }}"
                   style="display: inline-block; vertical-align: middle;" id="password1_label">New Password:</label>
            {{form.new_password1}}
        </div><br>

        <div class="input-field col s12"
             style="vertical-align: middle;">
            <i class="material-icons prefix">lock_outline</i>
            <label for="{{ form.new_password2.id_for_label }}"
                   style="display: inline-block; vertical-align: middle;" id="password2_label">New Password Confirmation:</label>
            {{form.new_password2}}
            <br>
            <div class="row"></div>
         </div>
        <div class="row"></div>
        <div>
            <p>Your password can’t be too similar to your other personal information.<br>
            Your Password must contain at least 8 characters.<br>
            Your password can’t be a commonly used password.<br>
            Your password can’t be entirely numeric.</p>
        </div>
        <div class="row"></div>
      <input class="button" type="Submit" name="Update Password" />
    </form>
  </div>
    </div>

    <script src="{% static 'password_reset_form.js' %}"></script>
{% endblock content %}