{% extends 'User_Management/main_1.html' %}
{% block content%}
<title>Password Reset | HireBeat</title>

</html>

<body class="layout-login-centered-boxed">


    <div class="layout-login-centered-boxed__form">
        <div class="d-flex flex-column justify-content-center align-items-center mt-2 mb-4 navbar-light">
            <a href="index.html" class="navbar-brand text-center mb-2 mr-0 flex-column" style="min-width: 0">
                <!-- LOGO -->
                <img id="icon" src="https://hirebeat-assets.s3.amazonaws.com/HireBeatLogo2.png" alt="HireBeat Logo"/> </img>
                

                <span class="mt-2">Passwrod Reset</span>
            </a>
        </div>
        <div class="card card-body">   
            <div style="margin: auto; width: 90%; font-family: Arial, Helvetica, sans-serif;">

                <p class="margin medium-small">
                Forgotten your password? Enter your email address below, and we’ll email
                instructions for setting a new one.
                </p>
            </div>
            <form method="post" autocomplete="off">
            {% csrf_token %}
                <div class="input-field col s12" style="vertical-align: middle;">
                    <i class="material-icons prefix">mail_outline</i>
                    <label for="{{ form.email.id_for_label }}" style="display: inline-block; vertical-align: middle;" id="email_label"> </label>
                    {{form.email}}
                </div>
                <div class="text-center"><br>
                    <input class="btn btn-primary mb-2"  type="submit" name="Send me instructions!" /><br>
                </div>
            </form>

            </div>
        </div>
    </div>

{% endblock content %}