{% extends 'User_Management/account_main.html' %}
{% block content %}

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">


        <div class="page__heading">
            <div class="container-fluid page__container">
                <h1 class="mb-0">Dashboard</h1>
            </div>
        </div>
        <div class="bg-white border-bottom mb-3">
            <div class="container-fluid nav nav-tabs" role="tablist">
                <a href="#activity_all" class="active" data-toggle="tab" role="tab" aria-controls="activity_all" aria-selected="true">Overview</a>
                <a href="#activity_purchases" data-toggle="tab" role="tab" aria-selected="false">Pricing</a>
            </div>
        </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header card-header-large bg-light d-flex align-items-center">
                                    <div class="flex">
                                        <h4 class="card-header__title">Summary</h4>
                                        <div class="card-subtitle text-muted">Your recent summary</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="author-earnings.html" class="btn btn-light">Browse All</a>
                                    </div>
                                </div>

                                <div class="card-body">

                                    <div class="chart" style="height: 295px;">
                                        <canvas id="viewsChart">
                                            <span style="font-size: 1rem;"><strong>Views</strong> area chart goes here.</span>
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-header card-header-large bg-light d-flex align-items-center">
                                    <div class="flex">
                                        <h4 class="card-header__title">Rankings</h4>
                                        <div class="card-subtitle text-muted">Current Month Earnings</div>
                                    </div>

                                    <div class="dropdown ml-auto">
                                        <a href="#" class="dropdown-toggle text-muted" data-caret="false" data-toggle="dropdown">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Go to Report</a>
                                            <a class="dropdown-item" href="#">Other Statistics</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" href="#">Archive</a>
                                        </div>
                                    </div>

                                </div>


                                <ul class="list-group list-rankings">

                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <span class="mr-2">1.</span>
                                            <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" class="img-fluid rounded-circle mr-2" width="30" alt="...">
                                            <div class="media-body">
                                                <a href="#">Tara Knows</a>
                                            </div>
                                            <div>&dollar;29,021</div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <span class="mr-2">2.</span>
                                            <img src="assets/images/256_jeremy-banks-798787-unsplash.jpg" class="img-fluid rounded-circle mr-2" width="30" alt="...">
                                            <div class="media-body">
                                                <a href="#">Karen Smith</a>
                                            </div>
                                            <div>&dollar;25,250</div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <span class="mr-2">3.</span>
                                            <img src="assets/images/256_michael-dam-258165-unsplash.jpg" class="img-fluid rounded-circle mr-2" width="30" alt="...">
                                            <div class="media-body">
                                                <a href="#">Mark Ups</a>
                                            </div>
                                            <div>&dollar;21,330</div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <span class="mr-2">4.</span>
                                            <img src="assets/images/256_s-a-r-a-h-s-h-a-r-p-764291-unsplash.jpg" class="img-fluid rounded-circle mr-2" width="30" alt="...">
                                            <div class="media-body">
                                                <a href="#">Steven Short</a>
                                            </div>
                                            <div>&dollar;17,740</div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <span class="mr-2">5.</span>
                                            <img src="assets/images/256_luke-porter-261779-unsplash.jpg" class="img-fluid rounded-circle mr-2" width="30" alt="...">
                                            <div class="media-body">
                                                <a href="#">John Mix</a>
                                            </div>
                                            <div>&dollar;13,120</div>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <!-- END FIRST TAB CONTENT -->
            <button>
                <a href="{% url 'account_management:account' %}">configure</a>
            </button>
            <button>
                <a href="{% url 'logout' %}">logout</a>
            </button>

    </div>
    <!-- // END header-layout__content -->



{% endblock content %}