{% extends 'User_Management/main.html' %}
{% load static %}
{% block content %}
    <head>
        <title>Register | HireBeat</title>
    </head>
    <div>
        <h5 class="header">Register NOW!</h5>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="section"></div>
    <div class="col s14 z-depth-6 card-panel">
        <form id="myForm" method="POST">
            {% csrf_token %}
            <div class="row"></div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="input-field col s12" style="vertical-align: middle;">
                <i class="material-icons prefix">person_outline</i>
                <label for="{{ form.username.id_for_label }}" style="display: inline-block; vertical-align: middle;" id="username_label">Username:</label>
                {{form.username}}
            </div>

            <div class="input-field col s12" style="vertical-align: middle;">
                <i class="material-icons prefix">mail_outline</i>
                <label for="{{ form.email.id_for_label }}" style="display: inline-block; vertical-align: middle;" id="email_label">Email:</label>
                {{form.email}}
            </div>

            <div class="input-field col s12" style="vertical-align: middle;">
                <i class="material-icons prefix">lock_outline</i>
                <label for="{{ form.password1.id_for_label }}" style="display: inline-block; vertical-align: middle;" id="password1_label">Password:</label>
                {{ form.password1 }}
            </div>

            <div class="input-field col s12" style="vertical-align: middle;">
                <i class="material-icons prefix">lock</i>
                <label for="{{ form.password2.id_for_label }}" style="display: inline-block; vertical-align: middle;" id="password2_label">Confirm Password:</label>
                {{ form.password2 }}
            </div>
            <div>
                <input style="margin-top:10px;"class="button" type="submit" value="Register">
            </div>
        </form>
        {{form.errors}} <!--Display the error message-->
    <div class="input-field col s6 m6 l6">
        <p class="margin medium-small">Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</div>

<script src="{% static 'register.js' %}"></script>

{% endblock content %}