{% extends 'Account_Management/account_main.html' %}
{% load static %}
{% load replace %}
{% block content %}
    <head>
        <title>User Setting| HireBeat</title>
    <style>
        .shadow-border {
            border: none;
            border-bottom: 1px solid transparent;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #FFFFFF;
            width: 100%;
            padding: 5px;
        }
    </style>
    </head>
    <body>
    <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">


            <div class="page__heading border-bottom">
                <div class="container-fluid page__container d-flex align-items-center">
                    <h1 class="mb-0">User Settings </h1>
{#                    <p>{{ user_roles|slice:"0:-5"|replace:"_"}}</p>#}
                </div>
            </div>

            <div class="container-fluid page__container">

                <div class="card card-form">
                    <div class="row no-gutters">
                        <div class="col-lg-4 card-body">
                            <p><strong class="headings-color">Basic Information</strong></p>
                            <p class="text-muted mb-0">Update your information.</p>
                        </div>
                        <div class="col-lg-8 card-form__body card-body">
                            <form method="post" class="form-inline">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="fname">First name</label>
                                </div>
                                <div class="form-group">
                                    {{ user_info_form.first_name }}
                                </div>

                                <div class="form-group" style="margin-left: 15px">
                                    <label for="lname">Last name</label>
                                </div>
                                <div class="form-group">
                                    {{ user_info_form.last_name }}
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card card-form">
                    <div class="row no-gutters">
                        <div class="col-lg-4 card-body">
                            <p><strong class="headings-color">Profile Settings</strong></p>
                            <p class="text-muted mb-0">Update your logo and video here.</p>
                        </div>
                        <div class="col-lg-8 card-form__body card-body">
                            <div class="form-group">
                                <label>Avatar</label></br>
                                <input type="file" id="photo" /></br>
                                <div class="col">
                                    <button id="upload" onclick="uploadImage()" class="btn btn-primary" style="margin-top: 20px">Upload</button>
                                    <img id="image" src="" >
                                    <input id="accountName" type="hidden" value="{{ account.company_name }}">
                                    <input id="userName" type="hidden" value="{{ user.first_name }}_{{ user.last_name }}">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card card-form">
                    <div class="row no-gutters">
                      <div class="col-lg-4 card-body">
                        <p><strong class="headings-color">Update Your Email</strong></p>
                        <p class="text-muted mb-0">Change your Email.</p>
                      </div>
                      <div class="col-lg-8 card-form__body card-body">
                        <div class="row">
                          <div class="col-md-6">
                              <form method="post" class="form-inline">
                                  {% csrf_token %}
                                  <div class="form-group">
                                      <label for="npass">New Email:</label>
                                      {{ update_email_form.new_email }}
                                  </div>
                                  <div class="col" style="margin-top: 15px">
                                    <button type="submit" class="btn btn-primary">Change</button>
                                  </div>
                                  <div style="margin-top: 20px">
                                      {%for message in messages %}
                                         {%if "email" in message.tags %}
                                              <p> {{message}} </p>
                                         {%endif%}
                                      {%endfor%}
                                  </div>
                              </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="card card-form">
                    <div class="row no-gutters">
                      <div class="col-lg-4 card-body">
                        <p><strong class="headings-color">Update Your Password</strong></p>
                        <p class="text-muted mb-0">Change your password.</p>
                      </div>
                      <div class="col-lg-8 card-form__body card-body">
                        <div class="row">
                          <div class="col-md-6">
                              <form method="post" class="form-inline">
                                  {% csrf_token %}
                                  <div class="form-group">
                                      <label for="opass">Old Password:</label>
                                      {{ update_password_form.old_password }}
                                  </div>

                                  <div class="form-group" style="margin-top: 20px">
                                      <label for="npass">New Password:</label>
                                      {{ update_password_form.new_password1 }}
                                      <small class="invalid-feedback">The new password must not be empty.</small>
                                  </div>

                                  <div class="form-group" style="margin-top: 20px">
                                      <label for="cpass">Confirm Password:</label>
                                      {{ update_password_form.new_password2 }}
                                  </div>
                                  <div class="col">
                                      <button type="submit" class="btn btn-primary" style="margin-top: 20px">Save</button>
                                  </div>
                                  <div style="margin-top: 20px">
                                      {%for message in messages %}
                                         {%if "password" in message.tags %}
                                              <p> {{message}} </p>
                                         {%endif%}
                                      {%endfor%}
                                  </div>
                              </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="text-right mb-5">
                    <a href="{% url 'account_management:account'%}" class="btn btn-success">Go Back</a>
                </div>
            </div>
{#        <input type="file" id="photo" /></br>#}
{#        <button id="upload" onclick="uploadImage()">Upload</button>#}
{#        <img id="image" src="" >#}

        </div>
        <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
        <script>

           //paste here your copied configuration code
           const firebaseConfig = {
              apiKey: "AIzaSyBxYu2sNjLgQsJJ7PwyK228DDdgg4rgSTw",
              authDomain: "hirebeat-561be.firebaseapp.com",
              projectId: "hirebeat-561be",
              storageBucket: "hirebeat-561be.appspot.com",
              messagingSenderId: "100708272950",
              appId: "1:100708272950:web:7fbab5c81409113efd8197",
              measurementId: "G-56Z0DL0SH3"
           };

           // Initialize Firebase
           firebase.initializeApp(firebaseConfig);
           console.log(firebase);

           function uploadImage() {
              const ref = firebase.storage().ref();
              const file = document.querySelector("#photo").files[0];
              const accountName = document.getElementById("accountName").value;
              const userName = document.getElementById("userName").value;
              const name = accountName + '_' + userName
               const metadata = {
                 contentType: file.type
              };
              const task = ref.child("logo/user/" + name).put(file, metadata);task
              .then(snapshot => snapshot.ref.getDownloadURL())
              .then(url => {
                  console.log(url);
                  alert('image uploaded successfully');
                  document.querySelector("#image").src = url;

                  getDownloadURLForImage("logo/user/" + name);
                })
               .catch(console.error);
               }

           function getDownloadURLForImage(imagePath) {
              const storageRef = firebase.storage().ref();
              const imageRef = storageRef.child(imagePath);

              imageRef.getDownloadURL()
                  .then((url) => {
                     console.log("Image URL:", url);
                     // 将获取到的链接设置给 img 标签的 src 属性
                     document.querySelector("#image").src = url;
                  })
                  .catch((error) => {
                     console.error("Error getting download URL:", error);
                  });
           }
        </script>
        <script>
            const newPassword1 = document.getElementById('new_password1');
            const newPassword2 = document.getElementById('new_password2');
            const passwordMismatchMsg = document.getElementById('password_mismatch');

            newPassword2.addEventListener('input', function() {
                if (newPassword1.value !== newPassword2.value) {
                    passwordMismatchMsg.style.display = 'block';
                } else {
                    passwordMismatchMsg.style.display = 'none';
                }
            });
        </script>

    <!-- App Settings FAB -->
    <div id="app-settings">
        <app-settings layout-active="default" :layout-location="{
      'default': 'edit-account.html',
      'fixed': 'fixed-edit-account.html',
      'fluid': 'fluid-edit-account.html',
      'mini': 'mini-edit-account.html'
    }"></app-settings>
    </div>
    </body>
{% endblock content %}