{% extends 'User_Management/account_main.html' %}
{% load replace %}
{% load static %}
{% block content %}
    <head>
        <title>Configure | HireBeat</title>
        
    </head>
    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">


        <div class="container-fluid page__container page__heading d-flex align-items-center border-bottom  ">
            <h1 class="mb-0">Configure</h1>
            <img id="companyLogo" src="" alt="Not Found" onerror="this.src='{% static 'Hirebeat.jpeg' %}';" />
            <input type="hidden" id="accountName" value="{{ account.company_name }}">
        </div>
        <div class="container-fluid page__container">
            <div class="card-header card-header-large bg-light d-flex align-items-center">
                <div class="flex">
                    <h4 class="card-header__title">Organization</h4>
                </div>
                <div class="ml-auto">
                    <a href="{% url 'account_management:organization'%}" class="btn btn-light">Details</a>
                    {% if user_roles == "['Hiring_manager Group']" or user_roles == "['Admin Group']" %}
                        <a href="{% url 'account_management:edit_account'%}" class="btn btn-light">Edit</a>
                    {% endif %}
                </div>
            </div>
            {% if user_roles == "['Hiring_manager Group']" or user_roles == "['Admin Group']" %}
                <div class="card-header card-header-large bg-light d-flex align-items-center">
                    <div class="flex">
                        <h4 class="card-header__title">Users</h4>
                    </div>
                    <div class="ml-auto">
                        <a href="{% url 'account_management:manage_users' %}" class="btn btn-light">Manage</a>
                        <a href="{% url 'account_management:add_user' %}" class="btn btn-light">Invite</a>
                    </div>
            </div>
            {% endif %}
            <div class="card-header card-header-large bg-light d-flex align-items-center">
                <div class="flex">
                    <h4 class="card-header__title">Permission Policies</h4>
                </div>
                <div class="ml-auto">
                    <a href="#" class="btn btn-light">Manage</a>
                </div>
            </div>
            <div class="card-header card-header-large bg-light d-flex align-items-center">
                <div class="flex">
                    <h4 class="card-header__title">Email Settings</h4>
                </div>
                <div class="ml-auto">
                    <a href="#" class="btn btn-light">Manage</a>
                </div>
            </div>

        </div>



    </div>
    <!-- // END header-layout__content -->

    <!-- App Settings FAB -->
    <div id="app-settings">
        <app-settings layout-active="default" :layout-location="{
      'default': 'author-settings.html',
      'fixed': 'fixed-author-settings.html',
      'fluid': 'fluid-author-settings.html',
      'mini': 'mini-author-settings.html'
    }"></app-settings>
    </div>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
<script>
   const firebaseConfig = {
        apiKey: "AIzaSyBxYu2sNjLgQsJJ7PwyK228DDdgg4rgSTw",
        authDomain: "hirebeat-561be.firebaseapp.com",
        projectId: "hirebeat-561be",
        storageBucket: "hirebeat-561be.appspot.com",
        messagingSenderId: "100708272950",
        appId: "1:100708272950:web:7fbab5c81409113efd8197",
        measurementId: "G-56Z0DL0SH3"
    };

   firebase.initializeApp(firebaseConfig);

   // 获取 Firebase Storage 中的图像 URL
   function getProfileImageURL() {
       const accountName = document.getElementById('accountName').value
       const imagePath = "logo/account/" + accountName;
       const storageRef = firebase.storage().ref();
       const imageRef = storageRef.child(imagePath);

      imageRef.getDownloadURL()
         .then((url) => {
            const profileImage = document.getElementById("profileImage");
            console.log(profileImage)
            profileImage.src = url;
         })
         .catch((error) => {
            console.error("Error getting download URL:", error);
         });
   }

   window.onload = function() {
      getProfileImageURL();
   };
</script>

{% endblock content %}

