{% extends 'Account_Management/main.html' %}
{% block content %}
    <h5 class="indigo-text">Please, login into your account</h5>
    <div class="section"></div>
<div class="col s12 z-depth-6 card-panel">
    <form class="login-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="row"></div>
        <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">person</i>
            <label for="{{ form.username.id_for_label}}" style="display: inline-block; vertical-align: middle;" id="username_label">Username:</label>
            {{form.username}}
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <label for="{{ form.password.id_for_label }}" style="display: inline-block; vertical-align: middle;" id="password_label">Password:</label>
            {{form.password}}
        </div>
        </div>
        <div class="row">
            <div class="remember-me">
                <input type="checkbox" id="remember-me" />
                <label for="remember-me">Remember me</label>
            </div>
          </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
        <input class="button" type="submit" value="Login">
        <div class="row">
            <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="{% url 'register'%}">Register Now!</a></p>
            </div>
            <div class="input-field col s6 m6 l6">
                <p class="margin right-align medium-small"><a href="{% url 'password_reset'%}">Forgot password?</a></p>
            </div>
        </div>
    </form>
</div>

<script>
    function handleLabel(field, labelId) {
        const inputField = document.getElementById(field);
        const label = document.getElementById(labelId);

        inputField.addEventListener("input", function() {
            if (inputField.value.trim() !== "") {
                label.style.display = "none";
            } else {
                label.style.display = "inline-block";
            }
        });
    }

    handleLabel("{{ form.username.id_for_label }}", "username_label");
    handleLabel("{{ form.password.id_for_label }}", "password_label");
</script>
{% endblock content %}
