{% extends 'Account_Management/main.html' %}
{% block content %}
<h5 class="indigo-text">Please, login into your account</h5>
<div class="section"></div>
    <div class="col s12 z-depth-6 card-panel">
        <form class="login-form">
            {% csrf_token %}
            <div class="row">
            </div>
            <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mail_outline</i>
                {{form.username}}
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="password" type="password">
                {{form.password2}}
            </div>
            </div>
            <div class="row">          
                <div class="remember-me">
                    <input type="checkbox" id="remember-me" />
                    <label for="remember-me">Remember me</label>
                </div>
              </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
            <input class="button" type="submit" value="Login">
            <div class="row">
                <div class="input-field col s6 m6 l6">
                <p class="margin medium-small"><a href="{% url 'register'%}">Register Now!</a></p>
                </div>
                <div class="input-field col s6 m6 l6">
                    <p class="margin right-align medium-small"><a href="{% url 'password_reset'%}">Forgot password?</a></p>
                </div>          
            </div>
        </form>
    </div>
    </div>
    
    
{% endblock content %}
