
{% extends 'User_Management/account_main.html' %}
{% load static %}
{% block content %}
    <head>
        <title>Organization | HireBeat</title>
    </head>
    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">


        <div class="container-fluid page__container page__heading d-flex align-items-center border-bottom  ">
            <img id="icon" src="https://hirebeat-assets.s3.amazonaws.com/HireBeatLogo2.png" alt="HireBeat Logo"/> </img>
            <h1 class="icontext">HireBeat</h1>
        </div>
        <div class="card card-form">
            <div class="row no-gutters">
                <div class="col-lg-4 card-body">
                    <p><strong class="headings-color">Profile Settings</strong></p>
                    <p class="text-muted mb-0">Update your public profile with relevant and meaningful information.</p>
                </div>
                <div class="col-lg-8 card-form__body card-body">
                    <div class="form-group">
                        <label>Avatar</label>
                        <div class="dz-clickable media align-items-center" data-toggle="dropzone" data-dropzone-url="http://" data-dropzone-clickable=".dz-clickable" data-dropzone-files='["assets/images/account-add-photo.svg"]'>
                            <div class="dz-preview dz-file-preview dz-clickable mr-3">
                                <div class="avatar avatar-lg">
                                    <img src="{% static 'images/frontted-logo-blue.svg' %}" class="avatar-img rounded" alt="..." data-dz-thumbnail>
                                </div>
                            </div>
                            <div class="media-body">
                                <label for="fileInput" class="btn btn-sm btn-primary dz-clickable">Choose photo</label>
                                <input type="file" id="fileInput" style="display: none;" accept="image/*">
                            </div>
                            <img id="previewImage" src="" style="display: none;" alt="Uploaded Image">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="desc2">Description</label>
                        <textarea id="desc2" rows="4" class="form-control" placeholder="Description ..."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="social1">Social links</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group input-group-merge mb-2">
                                    <input id="social1" type="text" class="form-control form-control-prepended" placeholder="Facebook">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="fab fa-facebook text-facebook"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group input-group-merge mb-2">
                                    <input id="social2" type="text" class="form-control form-control-prepended" placeholder="Twitter">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="fab fa-twitter text-twitter"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group input-group-merge mb-2">
                                    <input id="social3" type="text" class="form-control form-control-prepended" placeholder="Instagram">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="fab fa-instagram text-instagram"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customCheck1">Available for freelance?</label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                            <label class="custom-control-label" for="customCheck1">Yes, show me as available for freelance!</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right mb-5">
            <a href="" class="btn btn-success">Save</a>
        </div>

        <div class="container-fluid page__container">
            <div class="card-header card-header-large bg-light d-flex align-items-center">
                <div class="flex">
                    <h4 class="card-header__title">Company Logo</h4>
                </div>
                <div class="ml-auto">
                    <a href="{% url 'account_management:edit_account'%}" class="btn btn-light">Edit</a>
                </div>

            </div>
            <div class="card-header card-header-large bg-light d-flex align-items-center">
                <div class="flex">
                    <h4 class="card-header__title">Company Name</h4>
                </div>
                <div class="ml-auto">
                    <a href="#" class="btn btn-light">Edit</a>
                </div>
            </div>
            <div class="card-header card-header-large bg-light d-flex align-items-center">
                <div class="flex">
                    <h4 class="card-header__title">Basic Information</h4>
                </div>
                <div class="ml-auto">
                    <a href="#" class="btn btn-light">Edit</a>
                </div>
            </div>
            <div class="card-header card-header-large bg-light d-flex align-items-center">
                <div class="flex">
                    <h4 class="card-header__title">Profile Video</h4>
                </div>
                <div class="ml-auto">
                    <a href="#" class="btn btn-light">Update</a>
                </div>
            </div>
            <div class="card-header card-header-large bg-light d-flex align-items-center">
                <div class="flex">
                    <h4 class="card-header__title">Email Settings</h4>
                </div>
                <div class="ml-auto">
                    <a href="#" class="btn btn-light">Manage</a>
                </div>
            </div>

        </div>



    </div>
    <!-- // END header-layout__content -->

    <!-- App Settings FAB -->
    <div id="app-settings">
        <app-settings layout-active="default" :layout-location="{
      'default': 'author-settings.html',
      'fixed': 'fixed-author-settings.html',
      'fluid': 'fluid-author-settings.html',
      'mini': 'mini-author-settings.html'
    }"></app-settings>
    </div>

{% endblock content %}

<script>
    document.getElementById("uploadButton").addEventListener("click", function() {
        // Trigger the hidden file input element
        document.getElementById("fileInput").click();
    });

    document.getElementById("fileInput").addEventListener("change", function() {
        const fileInput = document.getElementById("fileInput");
        const previewImage = document.getElementById("previewImage");

        const file = fileInput.files[0];

        if (file) {
            // Create a FileReader to read the image file
            const reader = new FileReader();

            reader.onload = function(e) {
                // Set the previewImage source to the selected image
                previewImage.src = e.target.result;
                previewImage.style.display = "block";
            }

            // Read the image file as a data URL
            reader.readAsDataURL(file);
        }
    });
</script>
