<div style="margin: auto; width: 70%; font-family: Arial, Helvetica, sans-serif;">
    <img src="https://hirebeat-assets.s3.amazonaws.com/HireBeatLogo2.png" alt="HireBeat Logo"
      style="display:inline-block"></img>
    <h3 style="display: inline-block; color: #006dff;">HireBeat</h3>
    <h3 style="margin-top: 2rem;">Password reset sent</h3>
  
    <h5 style="margin-bottom: 2rem;">
      We’ve emailed you instructions for setting your password, if an account exists
      with the email you entered. You should receive them shortly.
    </h5>
  
    <h5 style="margin-bottom: 2rem;">
      If you don’t receive an email, please make sure you’ve entered the address you
      registered with, and check your spam folder.
    </h5>
  </div>