<div style="margin: auto; width: 70%; font-family: Arial, Helvetica, sans-serif;">
    <img src="https://hirebeat-assets.s3.amazonaws.com/HireBeatLogo2.png" alt="HireBeat Logo"
        style="display:inline-block"></img>
    <h1 style="display: inline-block; color: #006dff;">HireBeat</h1>
    <h3 style="margin-top: 2rem;">Password reset complete</h3>

    <h5 style="margin-bottom: 2rem;">Your password has been set. You may go ahead and log in now.</h5>

    <a href=>Log in</a> <!--link back to login page-->
</div>