{% extends 'Account_Management/main.html' %}
{% load static %}
{% block content %}
<style>
    .col.s14.z-depth-6.card-panel {
        max-width: 500px;
        margin: 0 auto; 
        padding: 20px; 
    }

    input.button {
        display: block; 
        width: 100%;
        margin-top: 20px;
        background-color: #2196F3; 
        border: 1px solid white; 
        padding: 10px; 
        color: white; 
        cursor: pointer; 
    }

    input.button:hover {
        background-color: #1565C0;
    }
</style>
    <h4 class="header">Password Reset</h4>
    <br>
    <br>
    <br>
    <br>
    <div class="col s14 z-depth-6 card-panel">
    <div style="margin: auto; width: 90%; font-family: Arial, Helvetica, sans-serif;">

        <p class="margin medium-small">
          Forgotten your password? Enter your email address below, and we’ll email
          instructions for setting a new one.
        </p>
    </div>
    <div class="section"></div>
    <form method="post" autocomplete="off">
      {% csrf_token %}
        <div class="input-field col s16"
             style="vertical-align: middle;">
            <i class="material-icons prefix">mail_outline</i>
            {{form}}
        </div>
      <input class="button" type="submit" name="Send me instructions!" />
    </form>

</div>

<script src="{% static 'password_reset.js' %}"></script>
{% endblock content %}