<div style="margin: auto; width: 70%; font-family: Arial, Helvetica, sans-serif;">
    <img src="https://hirebeat-assets.s3.amazonaws.com/HireBeatLogo2.png" alt="HireBeat Logo"
      style="display:inline-block"></img>
    <h1 style="display: inline-block; color: #006dff;">HireBeat</h1>
    <h3 style="margin-top: 2rem;">Password reset</h3>
  
    <h5 style="margin-bottom: 2rem;">
      Forgotten your password? Enter your email address below, and we’ll email
      instructions for setting a new one.
    </h5>
  
    <form method="post">
      {% csrf_token %} {{form}}
      <input type="submit" name="Send me instructions!" />
    </form>
  </div>