<div style="margin: auto; width: 70%; font-family: Arial, Helvetica, sans-serif;">
    <img src="https://hirebeat-assets.s3.amazonaws.com/HireBeatLogo2.png" alt="HireBeat Logo"
      style="display:inline-block"></img>
    <h1 style="display: inline-block; color: #006dff;">HireBeat</h1>
    <h3 style="margin-top: 2rem;">Enter new password</h3>
  
    <h5 style="margin-bottom: 2rem;">
      Please enter your new password twice so we can verify you typed it in correctly.
    </h5>
  
    <form method="post">
      {% csrf_token %} {{form}}
      <input type="Submit" name="Update Password" />
    </form>
  </div>