{% block content %}

<div style="margin: auto; width: 70%; font-family: Arial, Helvetica, sans-serif;">
    <img src="https://hirebeat-assets.s3.amazonaws.com/HireBeatLogo2.png" alt="HireBeat Logo"
      style="display:inline-block"></img>
    <h1 style="display: inline-block; color: #006dff;">HireBeat</h1>

<div>
    <h1>Register</h1>
</div>

<form method="POST">
        {% csrf_token %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>
        <label>{{form.username.label}}</label>
        {{form.username}}
    </div>
    <br>
    <div>
        <label>{{form.email.label}}</label>
        {{form.email}}
    </div>
    <br>
    <div>
        <label>{{form.password1.label}}</label>
        {{form.password1}}
    </div>
    <br>
    <div>
        <label>{{form.password2.label}}</label>
        {{form.password2}}
    </div>
    <br>
    <div>
        <input style="margin-top:10px;"class="button" type="submit" value="Register">
    </form>
    </div>
    <br>
    {{form.errors}} <!--Display the error message-->
    <p>Already have and account? <a href="{% url 'login' %}">Login</a></p>
</div>


{% endblock content %}