<!DOCTYPE html>
<html>
<head>
   <title>Image Upload</title>
   <style>
      #photo{
         margin-top: 200px;
         margin-left: 450px;
      }
      #upload{
         margin-top: 20px;
         margin-left: 450px;
      }
   </style>
</head>
<body>
    <input type="file" id="photo" /></br>
    <button id="upload" onclick="uploadImage()">Upload Image</button>
    <img id="image" src="" >
</body>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
<script>

   //paste here your copied configuration code
   const firebaseConfig = {
      apiKey: "AIzaSyBxYu2sNjLgQsJJ7PwyK228DDdgg4rgSTw",
      authDomain: "hirebeat-561be.firebaseapp.com",
      projectId: "hirebeat-561be",
      storageBucket: "hirebeat-561be.appspot.com",
      messagingSenderId: "100708272950",
      appId: "1:100708272950:web:7fbab5c81409113efd8197",
      measurementId: "G-56Z0DL0SH3"
   };

   // Initialize Firebase
   firebase.initializeApp(firebaseConfig);
   console.log(firebase);

   function uploadImage() {
      const ref = firebase.storage().ref();
      const file = document.querySelector("#photo").files[0];
      const name = +new Date() + "-" + file.name;
      const metadata = {
         contentType: file.type
      };
      const task = ref.child(name).put(file, metadata);task
      .then(snapshot => snapshot.ref.getDownloadURL())
      .then(url => {
          console.log(url);
          alert('image uploaded successfully');
          document.querySelector("#image").src = url;

          getDownloadURLForImage(name);
        })
       .catch(console.error);
       }

   function getDownloadURLForImage(imagePath) {
      const storageRef = firebase.storage().ref();
      const imageRef = storageRef.child(imagePath); // imagePath 是存储在 Firebase 中的图片路径

      imageRef.getDownloadURL()
          .then((url) => {
             console.log("Image URL:", url);
             // 将获取到的链接设置给 img 标签的 src 属性
             document.querySelector("#image").src = url;
          })
          .catch((error) => {
             console.error("Error getting download URL:", error);
          });
   }
</script>
</html>